<div class="node-container">
  <div
    class="parent-container"
    (mouseenter)="isHovering.set(true)"
    (mouseleave)="isHovering.set(false)"
  >
    <button class="parent-btn" (click)="onNodeClick()">
      <mat-icon>{{ node().opened ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
      <p>{{ node().label }}</p>
    </button>
    @if (isHovering()) {
      <app-actions (add)="onAddNodeClick($event)"></app-actions>
    }
  </div>
  @if (node().opened) {
    <div class="children-container">
      @for (item of node().items; track item.id) {
        <app-tree-node [node]="item"></app-tree-node>
      }
    </div>
  }
</div>
