.node-container {
  display: flex;
  flex-direction: column;
}

.parent-container {
  height: 2.3rem;
  display: flex;
  gap: 2rem;
  margin: 0 0.5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: var(--mat-sys-secondary-fixed);
  }
  .actions-component {
    display: none;
  }
  &:hover .actions-component {
    display: block;
    background-color: var(--mat-sys-secondary-fixed);
  }
}

.parent-btn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border: none;
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
  padding: 0.1rem 01rem 0 0.5rem;
  border-radius: var(--mat-sys-corner-extra-small);
  p {
    margin: 0;
  }
}

.children-container {
  margin-left: 1rem;
}
