<div>
  @for (node of nodes(); track node.id) {
    <div class="node-container">
      <div class="parent-container">
        <button class="parent-btn" (click)="onNodeClick(node)">
          <mat-icon>{{ node.opened ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
          <p>{{ node.label }}</p>
          <p>{{ node.items && node.items.length ? '(' + node.items.length + ')' : '' }}</p>
        </button>

        <app-actions
          class="actions-component"
          (add)="onAddEvent($event, node)"
          (delete)="onDeleteEvent(node)"
          (edit)="onEditEvent(node)"
        ></app-actions>
      </div>
      @if (node.opened && node.items) {
        <div class="children-container">
          <app-tree-node [nodes]="node.items"></app-tree-node>
        </div>
      }
    </div>
  }
</div>
